name: "Vercel Deployment"

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: "Deploy to Vercel"
    runs-on: ubuntu-latest

    steps:
      # Checkout repo
      - uses: actions/checkout@v3

      # Setup Node.js
      - uses: actions/setup-node@v3
        with:
          node-version: "20"

      # Install dependencies
      - run: npm install

      # Build project
      - run: npm run build

      # Deploy to Vercel using token only
      - name: Deploy to Vercel
        run: npx vercel --prod --token kvHlGp3PEF7GNaSawT9YHsDX --name softech --yes
